.grid{
    display: grid;
    width: 78%;
    margin: 0 auto;
    grid-template-columns: 12vw 12vw 12vw 12vw 12vw 12vw;
    grid-template-rows: 30vh;
    row-gap: 4ch;
    column-gap: 2ch;
    align-items: center;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto 2ch auto
}

.filters button{
    padding: 2ch 4ch;
    color: white;
    font-size: 1.2rem;
    font-family: inherit;
    background-color: #03002e ;
    border: 0.2px solid rgba(255, 255, 255, 0.349);
    padding: 10px;
}

.filters button:hover,
.filters button:active{
    cursor: pointer;
    background-color: #17002e ;

}