.grid{
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 12vw 12vw 12vw 12vw 12vw 12vw;
    grid-template-rows: 30vh;
    row-gap: 4ch;
    column-gap: 2ch;
}

.options{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 80%;
    margin: 0 auto 2ch auto
}