.details {
    width: 20vw;
    margin: 4ch auto;
    background-color: #03002e;
}

.details ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white;
}

.details li {
    height: 8vh;
    font-size: 1.6rem;
    border-bottom: 1px solid white;
    padding: 1ch;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details ul li.title{
    justify-content: center;
}

.bold{
    font-weight: 700;
    max-width: 60%;
    text-align: end;
}
