.item{
    /* padding: 0.5ch 0; */
    height: 6ch;
    display: flex;
    justify-content: space-between;
    max-width: fit-content;
    align-items: center;
    border-bottom: 1px solid black;
    min-width: 100%;
    max-width: 100%;
    cursor: pointer;
}

.item:hover{
    background-color: black;
    color: white;
    height: 6.2ch;
}

.item > div {
    height: 6ch;
    width: 6ch;
    min-height: 6ch;
    min-width: 6ch;
}

.item img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.item p{
    font-size: 0.8rem;
    margin: 0 auto;
    margin-left: 1ch;
    padding-right: 1ch;
}
