.layout{
    color: white;
}

h1{
    font-size: 4rem;
    text-align: center;
    border: 4px solid white;
    padding: 0.5ch;
    background-color: rgba(255, 255, 255, 0.217);
}

h2{
    text-align: center;
    font-size: 2.5rem;
}

a{
    color: white;
    text-decoration: none;
}