.absolute{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    transition: 1s;
}
.modal{
    height: 100%;
    width: 20vw;
    position: sticky;
    background-color: #03002e;
}