.absolute{
    position: absolute;
    top: -7vh;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 18;
    background-color: rgba(0, 0, 0, 0.415);   
    cursor: pointer; 
    overscroll-behavior: contain;
    transition: 2s;
}
.modal{
    top: 0;
    left: -16vw;
    bottom: 0;
    height: 100vh;
    width: 14vw;
    position: fixed;
    background-color: #03002e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid rgba(255, 255, 255, 0.523);
    z-index: 20;
    cursor: default;
    transition: 0.5s;
}

.modal-open{    
    transform: translateX(16vw);
}

.filter{    
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 20vh;
}

.filter h3{
    text-align: center;
}
.border{
    border-bottom: 1px solid rgba(255, 255, 255, 0.523);
    border-top: 1px solid rgba(255, 255, 255, 0.523);
}