.event{
    width: 60%;
    margin: 4ch auto;
    background-color: white;
    padding: 4ch;
    color: #03002e;
}

.event form{
    margin: 0 auto;
    color: #03002e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.event label{
    margin-right: 1ch;
}

.event input{
    width: 60%;
    padding: 0.5ch 1ch;
    font-size: 1rem;
    font-family: inherit;
}

.info{
    width: 100%;
}

.info > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info input{
    width: 100%;
    margin: 2ch;
}

.info textarea{
    width: 100%;
    margin: 2ch;
    resize: none;
    font-size: 1rem;
    font-family: inherit;
}


.info .intro{ 
    height: 5vh;
}

.info .desc{
    height: 15vh;
}

.logistics {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logistics > div{
    width: 100%;
}

.logistics > div >div{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.logistics input{
    margin: 1.5ch 0;
}

.event select{
    width: 8vw;
    padding: 1ch;
    text-align: center;
    font-size: 1rem;
    font-family: inherit;
    border: 1px solid rgba(255, 255, 255, 0.448);
    cursor: pointer;
    border-radius: 4px;
}

.event button{
    padding: 2ch 4ch;
    color: white;
    font-size: 0.8rem;
    font-family: inherit;
    background-color: #03002e ;
    border: 0.2px solid rgba(255, 255, 255, 0.349);
    padding: 10px;
}

.event button:hover,
.event button:active{
    cursor: pointer;
    background-color: #17002e ;

}

.proceed{
    width: 100%;
    height: 4vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.proceed button {
    font-size: 1.2rem;
}

.nb{
    opacity: 0.8;
    font-size: 0.8rem;
    margin: 0;
}