.navbar{
    background-color: #191528;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search{
    font-size: 1.2rem;
}

.search input{
    width: 12vw;
    font-family: inherit;
    font-size: inherit;
    border: transparent;
    margin-left: 0.2ch;
}

.search button{
    padding: 0.5ch;
    padding-right: 1ch;
    height: 3vh;
    background-color: #110E1B;
    border: 0.2px solid rgba(255, 255, 255, 0.349);
    border-radius: 0 50% 50% 0;
}