.navbar{
    background-color: #191528;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search{
    font-size: 1.2rem;
}

.search input{
    width: 12vw;
    padding: 10px 4px;
    font-family: inherit;
    font-size: inherit;
    border: transparent;
    margin-left: 0.2ch;
}

.search input:focus{
    outline: none;
}

.search button{
    padding: 0.5ch;
    color: white;
    font-size: inherit;
    font-family: inherit;
    background-color: #230046 ;
    border: 0.2px solid rgba(255, 255, 255, 0.349);
    padding: 10px;
}

.search button:hover,
.search button:active{
    cursor: pointer;
    background-color: #17002e ;

}