.navbar{
    background-color: #191528;
    height: 7vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.navbar a {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2ch;
    border-radius: 4px;
    padding: 12px;
}

.navbar a:hover{
    background-color: #0301824e;
}

a.logo-link:hover{
    background-color: #191528;
}

a.active {
    color: white;
    background-color: #01004882;
}

form{
    position: relative
}

.nav-right{
    display: flex;
    justify-content: space-between;
    width: 35vw;
}

.search{
    font-size: 1.2rem;
}

.search input{
    width: 20.4rem;
    padding: 10px 4px;
    font-family: inherit;
    font-size: inherit;
    border: transparent;
    margin-left: 0.2ch;
}

.search input:focus{
    outline: none;
}

.search button{
    padding: 0.5ch;
    color: white;
    font-size: inherit;
    font-family: inherit;
    background-color: #03002e ;
    border: 0.2px solid rgba(255, 255, 255, 0.349);
    padding: 10px;
}

.search button:hover,
.search button:active{
    cursor: pointer;
    background-color: #17002e ;

}

.icon{
    display: flex;
    align-items: center;
    cursor: pointer;
}



.logo{
    object-fit: cover;
    width: 6vw;
    height: auto;
}