.review{
    width: 20vw;
    border: 1px solid #03002e;
    margin: 2ch auto;
    
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #03002e;
    padding: 1ch 2ch;
}

.mine{
    background-color: #090088;
}

.head div{
    display: flex;
    align-items: center;
}

.user h4{
    margin-left: 1ch;
}

.review p {
    padding: 3ch 1ch;
    margin: 0;
    background-color: #03002e36;
}