.title {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    margin: 0 auto;
    cursor: pointer;
}

.title > div{
    height: 8vh;
    width: 8vh;
}

.title img{
    object-fit: cover;
    width: 8vh;
    height: 8vh;
}

.title p {
    font-size: 1.2rem;
    width: 70%;
    text-align: center;
    margin: 0;
    transition: 0.5s;
}


.title:hover p{
    font-size: 1.4rem;
}
