.stripe{
    width: 40%;
    margin: 4ch auto;
    background-color: white;
    padding: 4ch;
    height: 30vh;
}

.stripe button{
    padding: 2ch 4ch;
    color: white;
    font-size: 1.2rem;
    font-family: inherit;
    background-color: #03002e ;
    border: 0.2px solid rgba(255, 255, 255, 0.349);
    padding: 10px;
    margin-top: 2ch;

}

.stripe button:hover,
.stripe button:active{
    cursor: pointer;
    background-color: #17002e ;
}